<div class='container mt-5'>
  <div class='row justify-content-md-center'>
    <div class='col-md-4'>
      <div class='card border-secondary mb-3'>
        <div class='card-header'>Register</div>
        <div class='card-body text-dark'>
          <form [formGroup]='loginForm'
                (ngSubmit)='loginForm.valid && onSubmit()'
                autocomplete='off'>
            <div class='form-group'>
              <label for='inputEmail'>Email</label>
              <input type='email'
                     class='form-control'
                     id='inputEmail'
                     formControlName='email'
                     placeholder='Enter email'>
              <small *ngIf='email.invalid && (email.dirty || email.touched)'
                     class='form-text text-danger'>
                campo inválido.
              </small>
            </div>
            <div class='form-group'>
              <label for='inputPassword'>Password</label>
              <input type='password'
                     class='form-control'
                     id='inputPassword'
                     formControlName='password'
                     placeholder='Password'>
              <small *ngIf='password.invalid && (password.dirty || password.touched)'
                     class='form-text text-danger'>
                campo inválido.
              </small>
            </div>
            <div class='form-group'>
              <label for='inputPasswordConfirm'>Confirm Password</label>
              <input type='password'
                     class='form-control'
                     id='inputPasswordConfirm'
                     formControlName='passwordConfirm'
                     placeholder='Password Confirm'>
              <small *ngIf='passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)'
                     class='form-text text-danger'>
                campo inválido.
              </small>
            </div>
            <button type='submit' class='btn btn-primary' [disabled]='loginForm.invalid'>Submit</button>
            <button class='btn btn-link pull-right' routerLink='/login'>login?</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
