<section class='jumbotron text-center'>
  <div class='container'>
    <h1 class='jumbotron-heading'>Minhas Tarefas</h1>
    <p>
      <a href='#' class='btn btn-primary my-2'><i class='fa fa-plus mr-2'></i>Cards</a>
      <a href='#' class='btn btn-secondary my-2'><i class='fa fa-lock mr-2'></i>Login</a>
    </p>
  </div>
</section>

<div class='py-3 bg-light'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4' *ngFor='let card of cards'>
        <div class='card mb-4 box-shadow'>
          <div class='card-header'>
            <div class='d-flex justify-content-between align-items-center'>
              <div>{{ card.name }}</div>
              <div class='text-muted'><i class='fa fa-trash'></i></div>
            </div>
          </div>
          <div class='card-body pt-1'>
            <div class='text-muted my-1'>
              <span class='badge badge-success'>1 feito</span>
              <span class='badge badge-warning text-white'>1 a fazer</span>
            </div>
            <div class='custom-control custom-checkbox' *ngFor='let task of card.tasks'>
              <input type='checkbox' class='custom-control-input'
                     id='customCheck-{{ card.id }}-{{ task.id }}'
                     [checked]='task.checked'
                     (change)='task.checked = ! task.checked'>
              <label class='custom-control-label'
                     for='customCheck-{{ card.id }}-{{ task.id }}'
                     [ngClass]='{"task-checked": task.checked}'>
                {{ task.desc }}
              </label>
            </div>
            <div class='mt-2'>
              <input type='text' class='form-control form-control-sm' id='cc-name' placeholder='adicioncar tarefa'
                     required=''>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
